body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

nav{
    width: 100%;
    padding: 15px 13%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    transition: 0.6s;
    background-color: #fff;
}
nav ul{
    display: flex;
    margin: 0;
    padding: 0;
    color: #1e1b4b;
    font-size: 18px;
    font-weight: 700;
}
nav ul li{
    list-style: none;
    padding: 0 15px;
}
.logo{
    color: #1e1b4b;
    font-size: 30px;
    font-weight: 700;
    transition: 0.3s;
    text-decoration: underline;
}

nav ul li a{
    text-decoration: none;
    color: #1e1b4b;
    transition: 0.3s;
}

.search{
    height: 30px;
    background-color: #f2f2f2;
    transition: 0.3s;
    display: flex;
}
.search-input{
    width: 100%;
    height: 100%;
    border-radius: 999px;
    outline: none;
    background-color: #f2f2f2;
    font-size: 15px;
    font-weight: 300;
    border: 1px solid rgb(175, 175, 175);
    padding: 0 10px;
}
.search-input:focus{
    background-color: #fff;
}

/* Navbar Hover:area */
nav ul li a:hover{
    background-color: #1e1b4b;
    color: #fff;
    border-radius: 20px;
    padding: 10px 15px;

}


/* body main */
main{
    width: 100%;
    height: 100vh;
    background-color: #fff;
    margin-top: 80px;
    box-sizing: border-box;
}
.main-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 150px 13%;
}

aside img{
    width: 100%;
    height: 100%;
}

aside{
    width: 40%;
    height: 100%;
}

.article-1{
    width: 50%;
    height: 100%;
    padding: 0 20px;
}

.article-1 h1{
    font-size: 40px;
    line-height: 50px;
    color: #172554;
    font-weight: 700;

}

.desc{
    font-size: 18px;
    color: #172554;
    font-weight: 300;
    margin: 20px 0;

}

.button-desc{
    width: 50%;
    height: 50px;
    background-color: #172554;
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 20px 0;
    transition: 0.3s;
}

.button-desc:hover{
    background-color: #fff;
    color: #172554;
    border: 1px solid #172554;
}

/* Product */
.product{
    width: 100%;
    padding: 0 13%;
    background-color: #fff;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.judul-product{
    font-size: 40px;
    line-height: 50px;
    color: #172554;
    font-weight: 700;
    margin-bottom: 50px;
}
.product-box{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.product-item{
    width: 20%;
    background-color: #fff;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 10px;
    transition: 0.3s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}
.product-item:hover{
    transform: scale(1.05);
}
.product-img {
    object-fit: cover;
    padding: 10px;
}
.product-img img{
    width: 100%;
    height: 100%;
    border-radius: 10px 0 0 10px;
}

.product-desc{
    width: 100%;
    padding: 0 10px;
    text-align: center;
}
.product-name{
    font-size: 20px;
    color: #172554;
    font-weight: 700;
    margin: 10px 0;
}
.product-price{
    font-size: 15px;
    color: #172554;
    font-weight: 300;
    margin: 10px 0;
}
.button-product{
    width: 100%;
    height: 30px;
    background-color: #172554;
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

.button-product:hover{
    background-color: #fff;
    color: #172554;
    border: 1px solid #172554;
}


.button-view-more, .button-view-less{
    padding: 10px 30px;
    background-color: #172554;
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 20px 0;
    transition: 0.3s;
}

.button-view-more:hover, .button-view-less:hover{
    background-color: #fff;
    color: #172554;
    border: 1px solid #172554;
}
/* About */

.about{
    margin-top: 100px;
    width: 100%;
    padding: 0 13%;
    background-color: #fff;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sub-about{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 0;
}
.judul-about{
    font-size: 40px;
    line-height: 50px;
    color: #172554;
    font-weight: 700;
    margin-bottom: 20px;
}
.desc-about{
    font-size: 18px;
    color: #172554;
    font-weight: 300;
    text-align: center;
    margin-bottom: 50px;
}

.card-about{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 10px;
}
.pengiriman, .keaslian, .testimoni{
    background-color: #fff;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 10px;
    width: 30%;
    padding: 15px;
    text-align: center;
}
.pengiriman h3, .keaslian h3, .testimoni h3{
    font-size: 20px;
    color: #172554;
    font-weight: 700;
    margin: 10px 0;
}
.pengiriman p, .keaslian p, .testimoni p{
    font-size: 15px;
    color: #172554;
    font-weight: 300;
    margin: 10px 0;
}
.pengiriman img, .keaslian img, .testimoni img{
    width: 50%;
    border-radius: 10px 0 0 10px;
}


/* Contact */

.article-2{
    width: 50%;
    height: 100%;
    padding: 0 20px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #172554;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 15px;
    font-weight: 300;
  }